@tailwind base;
@tailwind components;
@tailwind utilities;

.wallet-multi-btn {
  margin-left: 6px;
  background-color: #10b981 !important;
  font-size: 15px;
}

.wallet-disconnect-btn {
  background-color: inherit !important;
  color: #6b7280 !important;
  margin-left: -5px;
}

.prose pre {
  @apply bg-transparent p-0;
}

.inline-code {
  font-size: 0.9em;
  @apply bg-gray-300 dark:bg-[#464646];
  @apply rounded-md py-[.1em] px-[.4em];
}
